<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width",initial-scale=1.0/>
    <title>分类管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css"/>
    <link href="../../static/css/semantic.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/semantic.min.css" rel="stylesheet" type="text/css">
    <script src="../../static/js/semantic.js"></script>
    <script src="../../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../../static/js/semantic.min.js"></script>


</head>
<body>
<!-- 导航 -->
<nav  class="ui inverted segment m-padded-tb-mini m-shadow-small"  th:replace="admin/_fragments :: menu(2)">
    <div class="ui container">
        <div class="ui inverted stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <!-- m-item的作用是在手机移动端时，点击按钮会出示导航栏，原导航栏是隐藏的（m-mobile-hide） -->
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right m-item menu m-mobile-hide">
                <div  class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/我的照片.jpg" style="">
                        Henry-C
                    </div>
                    <i class="dropdown icon"></i>
                    <div  class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 存在问题，该按钮不可设置？？？？？但对后续应该无影响,已修复 -->
    <div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </div>
</nav>

<!-- 二级导航 好像失效了-->
<div  class="ui menu">
    <div  class="ui container">
        <div  class="right menu">
            <a href="#" th:href="@{admin/types/input}" class="item grey">类型新增</a>
            <a href="#" th:href="@{admin/types}" class="active item teal">类型列表</a>
        </div>

    </div>

</div>

<!-- 中间内容 -->
<div  class="m-container-small m-padded-tb-big">
    <div  class="ui container">
<!--接受后台的新增验证结果消息，message组件-->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon "></i>
<!--            小弹窗的关闭按钮-->
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，新增操作成功</p>
        </div>


        <table class="ui celled table">
            <thead>
                <tr>
                    <th></th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
<!--            视频级数分类管理-1-->
<!--            其中的type.name会自动从新增分类种类中自动获取type的名字之后展示在types页面，也就是本页中。-->
<!--上方的两个th注解是指将所有的type递归的分页展现出来-->
                <tr th:each="type,iterStat :${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${type.name}">刻意练习</td>

                    <td>
<!--                        将后方的输入id代替路径中的id实现访问-->
                        <a href="#" th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <div  th:if="${page.totalPages}>1" class="ui  floated pagination menu">
<!--                        判断一下本页面是否为第一或者最后页面，如果是则隐藏上一页和下一页的按钮-->
                        <a th:href="@{/admin/types(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
                        <a th:href="@{/admin/types(page=${page.number}+1)}" class="item" th:unless="${page.last}">上一页</a>
                    </div>
<!--                    input是指在type的web控制层中调用的input方法-->
                    <a href="#" th:href="@{/admin/types/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<!-- 底部内容 -->
<footer class="ui inverted vertical segment m-padded-tb-massive "  th:replace="admin/_fragments :: footer">
    <div class="ui center aligned container m-padded-tb-massive">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <img src="../../static/images/二维码.jpg" class="ui rounded center aligned" alt="" style="width: 100px;">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opcity-mini">最新博客</h4>
                <div  class="ui link list inverted">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">关于我</a>
                    <a href="#" class="item">HelloWorld</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-opcity-mini">联系我</h4>
                <div  class="ui link list inverted">
                    <a href="#" class="item">E-mail</a>

                    <a href="#" class="item">QQ：1191133427</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-opcity-mini" >Blog</h4>
                <p class="m-text-thin m-opcity-mini">这是我的个人博客，发一些关于学习路上的笔记，思考和关于我的一些消息，愿明天即新生!!!!</p>
            </div>
        </div>
        <!-- 这是一条分割线 -->
        <div  class="ui inverted section divider"></div>
        <p class="m-text-thin m-opcity-tiny">©️2019 CSDN 皮肤主题: 大白 设计师: Henry-C的博客</p>
    </div>
</footer>
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> -->

<!--&lt;!&ndash;/*/ <th:block th:replace="_fragments :: script">/*/&ndash;&gt;-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--&lt;!&ndash;/*/ <th:block>/*/&ndash;&gt;-->

<script >
    // 用于实现导航栏在移动端时的展示与隐藏，通过点击那个按钮实现‘m-mobile-hide’功能的存在与消失，变相实现功能；其中m-item是用于识别那几个需要隐藏功能的组件的标签
    $('.menu.toggle').click(function() {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    // 赞赏二维码弹出出现问题，不可响应？？？但大体无影响
    $('#payButton').popup({
        popup: $('.payQ.popup')
        // on:'click'
        // position:'bottom center'
    });

    $('.ui.dropdown')
        .dropdown({
            on : 'hover'
        });
//    消息关闭的js代码
    $('.message .close')
        .on('click',function() {
            $(this)
                .closest('.message')
                .transition('fade');
            //消失样式为fade
        });

</script>
</body>
</html>
