<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>博客</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" >
	<link rel="stylesheet" href="../static/css/me.css" >
</head>
<body>
		<!-- 导航 -->
		<nav th:replace="_fragments :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
			<div class="ui container">
				<div class="ui inverted stackable menu">
					<h2 class="ui teal header item">Blog</h2>
					<!-- m-item的作用是在手机移动端时，点击按钮会出示导航栏，原导航栏是隐藏的（m-mobile-hide） -->
					<a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
					<a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
					<div class="m-item right item m-mobile-hide">
						<div class="ui item inverted transparent input">
							<input type="text" placeholder="search...."/>
							<i class="search link icon"></i>
						</div>
					</div>
				</div>
			</div>
			<!-- 存在问题，该按钮不可设置？？？？？但对后续应该无影响 -->
			<div>
				<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
					<i class="sidebar icon"></i>
				</a>
			</div>
		</nav>
		
		<br />
		
		<!-- 中间内容 -->
		<div  class="m-container-small m-padded-tb-big">
			<div  class="ui container">
				<!-- header头部 -->
				<div class="ui attached segment">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<h3 class="ui teal header">分类</h3>
						</div>
						<div class="column right aligned">
							<div class="item">
								共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}"> 14 </h2> 个
							</div>
						</div>
					</div>
				</div>
				<!-- 分类表 -->
				<div  class="ui segment attached m-padded-tb-large">
					<div class="ui labeled button" tabindex="0" th:each="type : ${types}">
						<a href="#" th:href="@{/types/{id}(id=${type.id})}" class="ui basic  button" th:classappend="${type.id==activeTypeId} ? 'red'" th:text="${type.name}">思考与感悟</a>
						<div class="ui basic  left pointing label" th:classappend="${type.id==activeTypeId} ? 'red'" th:text="${#arrays.length(type.blogs)}">24</div>
					</div>
				</div>

				<!-- 文章列表 -->
				<div class="ui top attached teal segment">
					<div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
						<div class="ui middle aligned mobile reversed stackable grid" >
							<div class="eleven wide column">
								<h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
								<p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
								<div class="ui grid">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img src="https://unsplash.it/100/100?image=1005" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
												<div class="content"><a href="#" class="header" th:text="${blog.user.nickname}" >李仁密</a></div>
											</div>
											<div class="item">
												<i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
											</div>
											<div class="item">
												<i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
											</div>
										</div>
									</div>
									<div class="right aligned five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
									</div>
								</div>
							</div>

							<div class="five wide column">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
									<img src="https://picsum.photos/id/10/20/20" th:src="@{${blog.user.avatar}}" class="ui avater image rounded">
								</a>
							</div>

						</div>
					</div>
				</div>
				<!--footer-->
				<div class="ui bottom attached segment" th:if="${page.totalPages}>1">
					<div class="ui middle aligned two column grid">
						<div class="column">
							<a href="#" th:href="@{/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
						</div>
						<div class="right aligned column">
							<a href="#" th:href="@{/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
						</div>
					</div>
				</div>

			</div>
			
		</div>
		<br />
	
		<!-- 底部内容 -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive ">
			<div class="ui center aligned container m-padded-tb-massive">
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
						<img src="../static/images/二维码.jpg" th:src="@{/images/二维码.jpg}" class="ui rounded center aligned" alt="" style="width: 100px;">
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-opcity-mini">最新博客</h4>
						<div  class="ui link list inverted">
							<a href="#" class="item">用户故事（User Story）</a>
							<a href="#" class="item">关于我</a>
							<a href="#" class="item">HelloWorld</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header m-opcity-mini">联系我</h4>
						<div  class="ui link list inverted">
							<a href="#" class="item">E-mail</a>

							<a href="#" class="item">QQ：1191133427</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header m-opcity-mini" >最新博客</h4>
						<p class="m-text-thin m-opcity-mini">这是我的个人博客，发一些关于学习路上的笔记，思考和关于我的一些消息，愿明天即新生!!!!</p>
					</div>
				</div>
				<!-- 这是一条分割线 -->
				<div  class="ui inverted section divider"></div>
				<p class="m-text-thin m-opcity-tiny">©️2019 CSDN 皮肤主题: 大白 设计师: Henry-C的博客</p>
			</div>
		</footer>

	<script >
		// 用于实现导航栏在移动端时的展示与隐藏，通过点击那个按钮实现‘m-mobile-hide’功能的存在与消失，变相实现功能；其中m-item是用于识别那几个需要隐藏功能的组件的标签
		$('.menu.toggle').click(function(){
			$('.m-item').toggleClass('m-mobile-hide');
		});
		// 赞赏二维码弹出出现问题，不可响应？？？但大体无影响
		$('#payButton').popup({
			popup: $('.payQ.popup')
			// on:'click',
			// position:'bottom center'
		});
		
	</script>
	</body>
</html>
